:root{
    --azul: #132c47;
    --gris: #f5f3ed;
    --inputFondo: #f5f5f5;
    --letraTimes: 'Times New Roman';
    --letraGothic: 'Montserrat';
    --boderAngosto: 25px 25px;
    --borderAmplio: 15px 15px;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

.split-left{
    /* background: url('../images/login.png') no-repeat center; */
    /* background-size: cover;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.split-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-card {
    width: 100%;
    max-width: 450px;
    padding: 10px 20px 0 20px;
    border-radius: var(--borderAmplio) !important;
}

#logoLogin{
    width: 100px;
}

/* .input-group-prepend{
    margin: 2px 0 2px 0;
} */

.inputLogin{
    background-color: var(--inputFondo) !important;
    border-color: var(--inputFondo) ;
}

.emailLogin{
    border-radius: 0 var(--borderAmplio) 0 !important;
}

.input-group-text{
    border-color: #f5f5f5 !important;
    border-radius: 15px 0 0 15px !important;
}

.verContraseña{
    border-radius:  0 var(--borderAmplio) 0 !important;
    cursor: pointer !important;
}

.btnLogin{
    width: 100%;
    height: 2.3rem;
    background: var(--azul) !important;
    color: whitesmoke !important;
}


.btnLogin:hover{
    background: #18395c !important;
    color: whitesmoke !important;
}

.body-titulo{
    font-family: var(--letraTimes) !important;
    font-weight: bold !important;
    font-size: 2rem !important;
}

.body-textoT{
    font-family: var(--letraTimes) !important;
    font-size: 1rem !important;
}

.body-textoG{
    font-family: var(--letraGothic) !important;
    font-size: 1rem !important;
}

.texto-politica{
    font-family: 'Montserrat' !important;
    font-size: .75rem !important;

}

.textAzul{
    color: var(--azul) !important;
}

.navLinks{
    color:var(--gris) ;
    padding: 10px ;
    font-family: 'Montserrat' ;
    font-size: 1rem;
    border-bottom: 5.5px solid transparent;
}

.navLogin .navLinks .nav-login-link.active{
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #5e6674;
    font-weight: bold;
    color: #5e6674;
}

.navLogin .navLinks .nav-login-link:hover{
    color: #5e6674;
}

.bg-blue{
    background: var(--azul);
    color: var(--gris);
}

.bg-claro {
    background: var(--gris);
}
.bg-claro .navLinks .nav-login-link{
    color: #0b1729;
}
.bg-oscuro{
    background: #0b1729;
    color: var(--gris);
}


.btnPlan{
    width: 90%;
    background: transparent;
    padding: 10px !important;
    transition: background-color 0.2s ease;
    font-family: var(--letraTitulo);
    font-weight: bold;
    position: absolute;
    bottom: 3%;
}

.btnPlanInactivo:hover{
    background-color: #132c47 !important;
    color: white;
}


.cardPlan{
    border: 3px solid #132c47 !important;
    max-width: 300px !important;
    height: 400px;
    border-radius: 25px 25px 25px 25px !important;
}

.btnPlanInactivo{
    color: #132c47 ;
    border: 3px solid #132c47 !important;
}

.btnPlanActivo{
    background: white;
    color: #132c47 ;
    border: 3px solid #f5f3ed !important;
}

.footer-banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.footer-content {
  height: 80%;
  width: 45%;
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
}

/* .footer-woman {
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 100%;
  object-fit: contain;
} */



.nav-pills .nav-link {
    width: 55px;
    border-radius: 50px;
    border: 0;
    font-weight: 500;
    font-size: 0.85rem;            /* Más pequeño */
    padding: 0.25rem 0.95rem;      /* Menos padding */
    transition: background-color 0.3s ease;
    margin: 0 5px;                 /* Espacio entre pills */
}

.nav-pills .nav-link.active {
    background-color: var(--azul);
    color: white;
    border: 0;
}

.nav-pills .nav-link:not(.active) {
    background-color: #5e6674;
    color: #6c757d;
    border: 0;
}

.tab-pane {
    padding-top: 1rem;
}

.cardRegistro{
    width: 60vw;
    border: 3px solid var(--azul);
    height: fit-content;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    border-radius: var(--boderAngosto);
    margin-top: 1rem;
}

.btnPlan:hover{
    background-color: var(--azul) !important;
    color: white;
}

.floatButtons{
    padding: 10px;
    border: 3px solid var(--gris);
    border-radius: var(--boderAngosto) ;
}

.btnStep, .btnStep.active{
    width: 100%;
    height: 2.3rem;
    background: var(--azul);
    color: var(--gris);
    border-radius: var(--borderAmplio);
    margin-top: 3.5rem !important;
}

#btnSuscribirse:disabled, #btnEnviarCorreoRecuperar:disabled, #btnNuevaContrasena:disabled{
    opacity: .2;
}
#verPlanes{
    color: blue !important;
    text-decoration: underline;
}

.terms-cond{
    position: absolute;
    bottom: 25%;
}

input[type="checkbox"] {
  accent-color:var(--azul);
}

.divContrasena{
    height: auto;
}

.campoRounded{
    border-radius: var(--borderAmplio);
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.modal-content {
    border-radius: 8px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    /* border-top: 7px solid #2c3e50; */
}

#nombre_cliente.NoValidado,#apellido_paterno.NoValidado, #apellido_materno.NoValidado, #nombre_despacho.NoValidado, #razon_social.NoValidado, #rfc.NoValidado, #email.NoValidado,
#password.NoValidado, #telefono.NoValidado, #estado.NoValidado, #ciudad.NoValidado,
#plan_seleccionado.NoValidado, #password_new.NoValidado, #confirm_password.NoValidado, .campoCorreoRecuperar.NoValidado{
    border: 3px solid #f34925;
}

#nombre_cliente.Validado,#apellido_paterno.Validado, #apellido_materno.Validado, #nombre_despacho.Validado, #razon_social.Validado, #rfc.Validado , #email.Validado,
#password.Validado, #telefono.Validado, #estado.Validado, #ciudad.Validado,
#plan_seleccionado.Validado, #password_new.Validado, #confirm_password.Validado, .campoCorreoRecuperar.Validado{
    border: 3px solid #79de44;
}
