:root{
    --azul: #132c47;
    --gris: #f5f3ed;
    --inputFondo: #f5f5f5;
    --letraTimes: 'Inter';
    --letraGothic: 'Montserrat';
    --boderAngosto: 25px 25px;
    --borderAmplio: 5px 5px;
}

html{
    font-family: 'Inter';
}

a {
  text-decoration: none !important;
}

.split-left{
    /* background: url('../images/login.png') no-repeat center; */
    /* background-size: cover;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.split-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-card {
    width: 100%;
    max-width: 450px;
    padding: 10px 20px 0 20px;
    border-radius: var(--borderAmplio) !important;
}

#logoLogin{
    height: 100px;
}

/* .input-group-prepend{
    margin: 2px 0 2px 0;
} */

.inputLogin{
    background-color: var(--inputFondo) !important;
    border-color: var(--inputFondo) ;
}

.emailLogin{
    border-radius: 0 var(--borderAmplio) 0 !important;
}

.input-group-text{
    border-color: #f5f5f5 !important;
    border-radius: 15px 0 0 15px !important;
}

.verContraseña{
    border-radius:  0 var(--borderAmplio) 0 !important;
    cursor: pointer !important;
}

.btnLogin{
    width: 100%;
    height: 2.3rem;
    background: var(--azul) !important;
    color: whitesmoke !important;
}


.btnLogin:hover{
    background: #18395c !important;
    color: whitesmoke !important;
}

.body-titulo{
    font-family: var(--letraTimes) !important;
    /* font-weight: bold !important; */
    font-size: 3.5rem !important;
}

.titulo-card{
    font-family: var(--letraTimes) !important;
    font-size: 2.6rem !important;
    font-weight: 700;
}
.body-texto-t{
    font-family: var(--letraTimes) !important;
    font-size: 1.25rem !important;
}

.body-texto-p{
    font-family: var(--letraTimes) !important;
    font-size: 1rem !important;
}

.texto-politica{
    font-family: 'Montserrat' !important;
    font-size: .85rem !important;

}

.textAzul{
    color: var(--azul) !important;
}

/* .navLinks{
    color:var(--gris) ;
    padding: 1.8px;
    font-size: 1rem;
    border-bottom: 5.5px solid transparent;
} */

/* .navLogin .navLinks .nav-login-link.active{
    padding-bottom: 10px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #5e6674;
    font-weight: bold;
    color: #5e6674;
} */

/* .navLogin .navLinks .nav-login-link:hover{
    color: #5e6674;
} */

.bg-blue{
    background: var(--azul)  !important;
    color: var(--gris) !important;
}

.bg-claro {
    background: var(--gris);
}
.bg-claro .navLinks .nav-login-link{
    color: #0b1729;
}
.bg-oscuro{
    background: #0b1729;
    color: var(--gris);
}


.btnPlan{
    width: 90%;
    background: transparent;
    padding: 10px !important;
    transition: background-color 0.2s ease;
    font-family: var(--letraTimes);
    font-weight: bold;
    position: absolute;
    bottom: 3%;
}

.btnPlanInactivo:hover{
    background-color: #132c47 ;
    color: white;
}


.cardPlan{
    border: 3px solid #132c47 !important;
    max-width: 320px !important;
    height: 420px !important;
    border-radius: 25px 25px 25px 25px !important;
}

.btnPlanInactivo{
    color: #132c47 ;
    border: 3px solid #132c47 !important;
}

.btnPlanActivo{
    background: white;
    color: #132c47 ;
    border: 3px solid #f5f3ed !important;
}

.custom-tooltip {
    position: absolute;
    top: -3.5rem;
    left: 4rem;
    background: #f8f9fa;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: .5rem;
    font-size: 0.85rem;
    width: 210px;
    display: none; /* oculto por defecto */
    z-index: 1000;
    font-style: italic;
    text-align: center;
}


.nav-pills .nav-link {
    width: 55px;
    border-radius: 50px;
    border: 0;
    font-weight: 500;
    font-size: 0.85rem;            /* Más pequeño */
    padding: 0.25rem 0.95rem;      /* Menos padding */
    transition: background-color 0.3s ease;
    margin: 0 5px;                 /* Espacio entre pills */
}

.nav-pills .nav-link.active {
    background-color: var(--azul) !important;
    color: white !important;
    border: 0 !important;
}

.nav-pills .nav-link:not(.active) {
    background-color: #5e6674;
    color: #6c757d;
    border: 0;
}

.tab-pane {
    padding-top: 1rem;
}

.cardRegistro{
    width: 60vw;
    border: 3px solid var(--azul) !important;
    height: fit-content !important;
    padding-bottom: 5rem !important;
    margin-bottom: 2rem !important;
    border-radius: var(--boderAngosto) !important;
    margin-top: 1rem !important;
}

.btnPlan:hover{
    background-color: var(--azul) ;
    color: white;
}

.floatButtons{
    padding: 10px;
    border: 3px solid var(--gris);
    border-radius: var(--boderAngosto) ;
}

.btnStep, .btnStep.active{
    width: 100%;
    height: 2.3rem;
    background: var(--azul);
    color: var(--gris);
    border-radius: var(--borderAmplio);
    margin-top: 3.5rem !important;
    font-weight: bold;
}

.btnBackPass{
    width: 100%;
    height: 2.3rem;
    background: var(--azul);
    color: var(--gris);
    border-radius: var(--boderAngosto);
    font-weight: bold;
}
#btnSuscribirse:disabled, #btnEnviarCorreoRecuperar:disabled, #btnNuevaContrasena:disabled{
    opacity: .2;
}
#verPlanes{
    color: blue !important;
    text-decoration: underline;
}

.terms-cond{
    position: absolute;
    bottom: 25%;
}

input[type="checkbox"] {
  accent-color:var(--azul);
}

.divContrasena{
    height: auto;
}

.campoRounded{
    border-radius: var(--borderAmplio);
}

.campoRoundedX{
    border-radius: var(--boderAngosto) !important;
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.modal-content {
    border-radius: 8px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    /* border-top: 7px solid #2c3e50; */
}

#nombre_cliente.NoValidado,#apellido_paterno.NoValidado, #apellido_materno.NoValidado, #nombre_despacho.NoValidado, #razon_social.NoValidado, #rfc.NoValidado, #email.NoValidado,
#password.NoValidado, #telefono.NoValidado, #estado.NoValidado, #ciudad.NoValidado,
#plan_seleccionado.NoValidado, #password_new.NoValidado, #confirm_password.NoValidado{
    /* border: 3px solid #f34925; */
    border: 2px solid #dc3545 ;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  border-radius: .375rem;
}

.campoCorreoRecuperar.NoValidado{
    border: 2px solid #dc3545 ;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
    border-radius: 14px 14px !important;
}

#nombre_cliente.Validado,#apellido_paterno.Validado, #apellido_materno.Validado, #nombre_despacho.Validado, #razon_social.Validado, #rfc.Validado , #email.Validado,
#password.Validado, #telefono.Validado, #estado.Validado, #ciudad.Validado,
#plan_seleccionado.Validado, #password_new.Validado, #confirm_password.Validado{
    /* border: 3px solid #79de44; */
    border: 2px solid #28a745 ;
    box-shadow: 0 0 3px rgba(40, 167, 69, 0.5);
    border-radius: .375rem;
}

.campoCorreoRecuperar.Validado{
    border: 2px solid #28a745 ;
    box-shadow: 0 0 3px rgba(40, 167, 69, 0.5);
    border-radius: 15px 15px !important;
}
